[Unit]
Description=pm service for /pm-test/clone

[Service]
Type=simple
WorkingDirectory=/pm-test/clone
Environment="PATH=/usr/bin:/bin" "PORT=8123"
ExecStart="/home/u/.local/bin/pm" "service" "run"
Restart=always
RestartSec=5
StandardOutput=append:/pm-test/clone/.pm/run/service.log
StandardError=append:/pm-test/clone/.pm/run/service.log

[Install]
WantedBy=default.target
